<a href="<%=url %>">
  <div class="card p-2" style="height:20rem; width: 12rem;">
    <div class="d-flex justify-content-center align-items-center">
      <img style="height:12rem; width: 100%;" src="/img/peliculas/<%=image?image:"logo-DH.png" %>" class="img-fluid" alt="...">
    </div>
    <div class="card-body d-flex flex-column justify-content-end align-items-center  ">
      <h5 class="card-title fs-6 "><%=title %></h5>
    </div>
  </div>
</a>